---
import Layout from "../layouts/Layout.astro";

const description = "Error 404: Página no encontrada";
---

<Layout title="Contacto" description={description}>
  <h1 class="text-3xl font-bold m-2 text-center">ERROR 404</h1>

  <div class="m-2 max-w-md">
      <img class="rounded-2xl" src="/images/404.png" alt="Sanji llorando" />
  </div>

    <h2 class="text-xl m-2 text-center">El One Piece no está aquí</h2>

</Layout>
