---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contacto">
  <h1>Contacto</h1>
  <form class="max-w-md mx-auto py-6" action="/enviar-mensaje" method="POST">
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="email">
        Correo electrónico*:
      </label>
      <input class="input input-bordered input-primary w-full max-w-xs " id="email" type="email" name="email" required>
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 font-bold mb-2" for="mensaje">
        Texto*:
      </label>
      <textarea class="textarea textarea-primary w-full max-w-xs" id="mensaje" name="mensaje" rows="5" required></textarea>
    </div>
    <div class="flex items-center justify-center">
      <button class="btn btn-primary w-full max-w-xs" type="submit">
        Enviar mensaje
      </button>
    </div>
  </form>
  
</Layout>