---
import Layout from "../layouts/Layout.astro";

const description = "Página de informacion de contribución a Mangateca";
---

<Layout title="Contribuye" description={description}>
  <h1>Contribuye</h1>

  <!-- TODO: Complete this page -->
</Layout>
