---
import Layout from "../layouts/Layout.astro";
import SearchBar from "../components/SearchBar.astro";
---

<Layout title="Home">
    <div class="flex flex-col items-center justify-center">
      <h1 class="mx-auto text-5xl">
        ¡Lee tu manga favorito en <span class="text-gradient">Ñanga.es</span>!
      </h1>

      <div class="mt-20 ">
        <SearchBar />
      </div>
    </div>
</Layout>

<style>
  h1 {
    font-weight: 800;
  }
  path {
    fill: rgb(var(--accent));
  }
</style>
