---
import Layout from "../layouts/Layout.astro";
import SearchBar from "../components/SearchBar.astro";
import MangasSitesGrouped from "../components/MangaSitesGrouped.astro";

import searchResponse from "../../public/test-data/search-test-data.json";

const site = Astro.url.searchParams.get("fuente")! || "Todas";
const query = Astro.url.searchParams.get("search")! || "";

const description = `Resultados de la busqueda en Mangateca de ${query}`;
---

<Layout title="Busqueda" description={description}>
  <SearchBar />

  <div class="mt-6 p-auto m-auto max-w-6xl max-xl:max-w-full">
    <MangasSitesGrouped searchMangasResponse={searchResponse} />
  </div>
</Layout>
