---
import Layout from "../layouts/Layout.astro";
import MangaCard from "../components/MangaCard.astro";
// import {mangaCard} from "../models/MangaCard";

const site = Astro.url.searchParams.get('fuente')! || ''
const query = Astro.url.searchParams.get('search')! || ''

---

<Layout title="Busqueda">
  <h1 class="mb-10">Búsqueda: {query}</h1>
  <div class="flex gap-2">
    <MangaCard
      href="https://docs.astro.build/"
      image="https://www.crunchyroll.com/imgsrv/display/thumbnail/480x720/catalog/crunchyroll/323c82257b2f6567fabbb7bd55bfa753.jpe"
      name="Shingeki no Kyojin"
      site={site}
    />
    <MangaCard
      href="https://docs.astro.build/"
      image="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/shingeki-no-kyojin-1673958348.jpg"
      name="Shingeki no Kyojin"
      site="MangaNyaa"
    />
    <MangaCard
      href="https://docs.astro.build/"
      image="https://www.crunchyroll.com/imgsrv/display/thumbnail/480x720/catalog/crunchyroll/323c82257b2f6567fabbb7bd55bfa753.jpe"
      name="Shingeki no Kyojin"
      site="MangaNyaa"
    />
    <MangaCard
      href="https://docs.astro.build/"
      image="https://www.crunchyroll.com/imgsrv/display/thumbnail/480x720/catalog/crunchyroll/323c82257b2f6567fabbb7bd55bfa753.jpe"
      name="Shingeki no Kyojin"
      site="MangaNyaa"
    />
  </div>
</Layout>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
