---
import ArrowForward from "../components/icons/ArrowForward.astro";
import ArrowBack from "../components/icons/ArrowBack.astro";

export interface Props {
  position: "left" | "right";
}

const { position } = Astro.props;

const positionClass = position === "left" ? "left-5" : "right-1";
const displayValue = position === "left" ? "block" : "block";
---

<div
  class:list={[
    "h-full flex items-center absolute z-10",
    positionClass,
    displayValue,
  ]}
>
  <button
    class="btn btn-circle text-3xl opacity-60 hover:opacity-80 duration-200 ease-in-out"
    aria-label={position === "left" ? "Retroceder el carrousel" : "Avanazar el carrousel"}
  >
    {position === "left" ? <ArrowBack /> : <ArrowForward />}
  </button>
</div>
