---
export interface Props {
  href: string;
  name: string;
  image: string;
  site: string;
}

const { href, name, image, site } = Astro.props;
---

<div class="link-card w-full">
  <a href={href}>
    <div class="card bg-base-100 shadow-xl">
      <figure>
        <img src={image} alt={name + " cover"} class="object-none w-full " />
      </figure>
      <div class="card-body">
        <h3 class="card-title">
          {name}
        </h3>
		<div class="badge badge-secondary">{site}</div>
      </div>
    </div>
  </a>
</div>

<style>
  .link-card {
    display: flex;
    padding: 0.01rem;
    background-image: none;
    background-size: 400%;
    border-radius: 1rem;
    background-position: 100%;
    transition: background-position 1s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .link-card > a {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    padding: 0.3rem;
    border-radius: 0.35rem;
  }

  .link-card:is(:hover, :focus-within) {
    background-position: 0;
    background-image: var(--accent-gradient);
  }

  .link-card:is(:hover, :focus-within) h3 {
    color: rgb(var(--accent));
  }
</style>
