---
import type { Manga } from "../models/Manga";
import CarouselButton from "../components/CarouselButton.astro";

export interface Props {
  title: string;
  mangas: Manga[];
}

const { title, mangas } = Astro.props;
---

<div class="flex flex-col m-auto p-auto mt-8">
  <h2 class="py-2 ml-10 font-bold text-2xl text-secondary">{title}</h2>

  <div class="relative">
    <CarouselButton position="left" />

    <div class="flex w-screen">
      <div class="flex flex-nowrap overflow-x-scroll">
        <div class="inline-block px-3">
          <div
            class="w-52 h-auto aspect-2/3 max-w-xs overflow-hidden rounded-2xl shadow-md bg-base-content"
          >
          </div>
        </div>
        <div class="inline-block px-3">
          <div
            class="w-52 h-auto aspect-2/3 max-w-xs overflow-hidden rounded-2xl shadow-md bg-base-content"
          >
          </div>
        </div>
        <div class="inline-block px-3">
          <div
            class="w-52 h-auto aspect-2/3 max-w-xs overflow-hidden rounded-2xl shadow-md bg-base-content"
          >
          </div>
        </div>
        <div class="inline-block px-3">
          <div
            class="w-52 h-auto aspect-2/3 max-w-xs overflow-hidden rounded-2xl shadow-md bg-base-content"
          >
          </div>
        </div>
        <div class="inline-block px-3">
          <div
            class="w-52 h-auto aspect-2/3 max-w-xs overflow-hidden rounded-2xl shadow-md bg-base-content"
          >
          </div>
        </div>
        <div class="inline-block px-3">
          <div
            class="w-52 h-auto aspect-2/3 max-w-xs overflow-hidden rounded-2xl shadow-md bg-base-content"
          >
          </div>
        </div>
        <div class="inline-block px-3">
          <div
            class="w-52 h-auto aspect-2/3 max-w-xs overflow-hidden rounded-2xl shadow-md bg-base-content"
          >
          </div>
        </div>
        <div class="inline-block px-3">
          <div
            class="w-52 h-auto aspect-2/3 max-w-xs overflow-hidden rounded-2xl shadow-md bg-base-content"
          >
          </div>
        </div>
      </div>

      <CarouselButton position="right" />
    </div>
  </div>
</div>
