---
export interface Props {
    title: string;
  }
  
const { title } = Astro.props;
---

<div class="navbar bg-base-100 p-3">
    <div class="flex-1">
      <a class="ml-5 normal-case text-xl" href="./">
        <h1><span class="text-gradient">Ñanga.es</span></h1>
      </a>
    </div>
    <div class="mr-5 form-control">
      <input type="text" placeholder="Buscar" class="input input-bordered" />
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li class="menu-item">
                <a href="./About">Sobre nosotros</a>
            </li>
            <li class="menu-item">
                <a href="./Contact">Contacto</a>
            </li>
        </ul>
    </div>
</div>