<form action="./Search">
  <div class="form-control">
    <div class="input-group">

      <!-- Select input -->
      <select class="select select-lg select-primary focus:outline-none">
        <option selected>Todas</option>
        <option>MangaNyaa</option>
        <option>MangaDex</option>
        <option>TMO</option>
        <option>MangaFox</option>

      </select>

      <!-- Search input -->
      <input
        type="text"
        placeholder="Search…"
        class="input input-primary input-lg w-96 focus:outline-none"
      />

      <!-- Search Button -->
      <button class="btn bg-purple-500 btn-lg">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg
        >
      </button>
    </div>
  </div>
</form>
