<form action="./Search">
  <div class="form-control" id="form-search">
    <div class="input-group">

      <!-- Select input -->
      <select class="select select-lg select-primary focus:outline-none" id="fuente" name="fuente">
        <option value="all" selected>Todas</option>
        <option value="manganyaa">MangaNyaa</option>
        <option value="mangadex">MangaDex</option>
        <option value="tmo">TMO</option>
        <option value="mangafox">MangaFox</option>
      </select>

      <!-- Search input -->
      <input
        type="text"
        placeholder="Encuentra tu manga favorito en español"
        class="input input-primary input-lg w-96 focus:outline-none"
        id="search"
        name="search"
      />

      <!-- Search Button -->
      <button class="btn-primary btn-lg border-none" id="search-button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg
        >
      </button>
    </div>
  </div>
</form>
